
.site-logo img{
	width: 100px;
}

@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');


@import "./vars.scss";

body{

	// background-color: $green;
}

html{

	font-size: 16px;
	width: 100%;
	height: 100%;
}



body{
	width: 100%;
	height: 100%;
	font-family: Montserrat;

}


.comma-after:after{

	content: ",";
}

h1, h2, h3, h4, h5, h6{


	width: 100%;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

h2{
	font-size: 40px;
	margin-top: 45px;
	margin-bottom: 45px;
	width: 100vw;
	padding-right: 15px;
	padding-left: 15px;

	@media (max-width: 320px){

		font-size: 30px;
	}
}

.site-header{

	width: 100%;
	height: 100%;
}


.first-screen{
	// position: absolute;
	width: 100%;
	height: 100%;
}

.fullscreen-background{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.fullscreen-background_image{

	width: auto;
	height: 100%;
	@media screen and (min-aspect-ratio: 1920/1080){
		height: auto;
		width: 100%;
	}
}


.block-info{

	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	padding: 15px;
	padding-bottom: 60px;

	color: white;
}

.fullscreen-background_overlay{
	
	opacity: .6;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/firstscreen-overlay.png");
	background-size: 100% 100%;
	// background-position: 
}

.top-menu{

	// background-color: $green;

	// *{
	// 	outline: 1px solid red;
	// }

	// outline: 1px solid red;

	position: absolute;
	top: 0;
	left: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;

	width: 100%;
	display: flex;


	background-color: transparent;


 transition: background-color .5s 0s linear;
-moz-transition: background-color .5s 0s linear;
-webkit-transition: background-color .5s 0s linear;
-o-transition: background-color .5s 0s linear;

	z-index: 1;

	
}


.top-menu.active{

	background-color: $green-dark;


	 transition: background-color .5s 0s linear;
	-moz-transition: background-color .5s 0s linear;
	-webkit-transition: background-color .5s 0s linear;
	-o-transition: background-color .5s 0s linear;


}


.top-menu__icon{

	z-index: 1;

	position: absolute;
	width: 50px;
	height: 50px;
	// background-color: red;
	right: 0;
	margin-right: 15px;
	cursor: pointer;
	color: white;
	font-size: 8px;
	text-align: center;
	padding: 5px;

	background-image: url("../images/menu-open.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50% 50%;
}

.top-menu__icon.active{

	background-image: url("../images/menu-close.svg");	
}


.top-menu__options{

	width: 100%;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	padding-top: 50px;
	display: none;
	padding-top: 80px;
	padding-bottom: 30px;

	&>li{
		
		font-size: 14px;
		position: relative;
		top: 3px;

		&:first-child{

			border-top: 1px solid $green;

		}

		list-style: none;
		position: relative;
		display: block;
		height: 50px;

		border-bottom: 1px solid $green;
		
		&:hover{

			background-color: $blue-dark;
			 transition: background-color .3s 0s linear;
			-moz-transition: background-color .3s 0s linear;
			-webkit-transition: background-color .3s 0s linear;
			-o-transition: background-color .3s 0s linear;


		}
		
		// margin-left: 15px;

		// &:hover:after{
		// 	content: " ";
		// 	// transform: translateX(-50%);
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 5px;
		// 	background-color: $blue;
		// 	top: 30px;
		// }

		a{
			display: flex;
			justify-content: center;
			align-items: center;

			text-align: center;

			height: 100%;


			text-decoration: none;
			color: white;

			text-transform: uppercase;

		}
	}

}



.top-menu__site-logo{

	position: absolute;
}


.top-menu__site-logo>img{

		width: 100px;	width: 100px;
}





@include media-breakpoint-up(md){

	.top-menu{

		background-color: transparent;
	}

	.top-menu.active{

		background-color: transparent;
	}

	.top-menu__icon{

		display: none;
	}


	.top-menu__options.active{

		display: flex !important;
	}


	.top-menu__options{



		width: 100%;
		display: flex !important;
		flex-direction: row;
		justify-content: flex-end;
		padding: 0;
		margin: 0;

		&>li{

			list-style: none;
			position: relative;
			margin-left: 20px;

			border: 0;

			&:first-child{
				
				border: 0;
			}

			&:hover{

				background-color: transparent;
			}

			&:hover:after{
				content: " ";
				// transform: translateX(-50%);
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: $blue;
				top: 40px;
				left:-50%;
				transform: translateX(50%);
			}

			a{
				height: 100%;
				display: flex;
				align-content: center;
				text-decoration: none;
				color: white;

			}
		}

	}

}

